body {
  background: #f3f1f2;
  font-family: sans-serif;
  background-color: #eee;
  margin: unset;
}

.container {
  padding: 1rem;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

/* Button Style */
.loginButton,
.submitButton {
  font-size: 1rem;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
}

input {
  height: 2.5rem;
  padding: 0 1rem;
}
